{% extends "base/base_detail.html" %}

{% block title %}{{ subject }}{% endblock %}

{% block update %}{% url "subject_update" subject.pk %}{% endblock %}
{% block delete %}{% url "subject_delete" subject.pk %}{% endblock %}

{% block contextual_actions %}
    <a href="{% url "lesson_create" %}?subject={{ subject.pk }}" class="button-link">Add Lesson</a>
    <a href="{% url "assessment_create" %}?subject={{ subject.pk }}" class="button-link">Add Assessment</a>
    <a href="{% url "homework_create" %}?subject={{ subject.pk }}" class="button-link">Add Homework</a>
{% endblock %}

{% block detail_header %}{{ subject }}{% endblock %}
{% block detail_content %}
    {% if subject.image_url %}
        <div class="subject-image">
            <img src="{{ subject.image_url }}" alt="{{ subject.name }} image" style="max-height: 150px;">
        </div>
    {% endif %}
{% endblock detail_content %}
