{% extends "base/base_detail.html" %}

{% block title %}{{ assessment }}{% endblock %}

{% block update %}{% url "assessment_update" assessment.pk %}{% endblock %}
{% block delete %}{% url "assessment_delete" assessment.pk %}{% endblock %}

{% block detail_content %}

    <h2>{{ assessment.derived_subject }} assessment</h2>

    {% if assessment.lesson %}
        <p>Attached to lesson {{ assessment.lesson }}</p>
    {% endif %}

    <p>Type: {{ assessment.get_type_display|lower }}</p>
    <p>Start time: {{ assessment.derived_start_time }}</p>
    <p>Duration: {{ assessment.derived_duration }}</p>

    {% if assessment.description %}
        <p>Description: {{ assessment.description }}</p>
    {% endif %}

    <p>Created at: {{ assessment.created_at }}</p>
    <p>Last modified: {{ assessment.last_modified }}</p>

{% endblock detail_content %}
