<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport", content="width=device-width, initial-scale=1.0">
    <title>Assessments</title>
</head>
<body>
    
    <h2>{{ source.subject }} assessment</h2>
    {% if assessment.lesson %}
        <p>Attached to lesson {{ assessment.lesson }}</p>
    {% endif %}

    <p>Type: {{ assessment.get_type_display|lower }}</p>
    <p>Start time: {{ source.start_time }}</p>
    <p>Duration: {{ assessment.duration }}</p>

    {% if assessment.description %}
        <p>Description: {{ assessment.description }}</p>
    {% endif %}

    <p>Created at: {{ assessment.created_at }}</p>
    <p>Last modified: {{ assessment.last_modified }}</p>

</body>