{% extends "base/base.html" %}

{% block content %}
    {% if object.derived_image_url %}
        <div class=" subject-banner">
            <img src="{{ object.derived_image_url }}" alt="subject banner">
        </div>
    {% endif %}

    <h2 class="form-header">{% block form_title %}{% endblock %}</h2>

    <form action="" method="post">
        {% csrf_token %}
        {% block image %}{% endblock %}
        {% block form_content %}
            {% block info_fields %}{% endblock %}
            {{ form.as_p }}
        {% endblock %}
        {% block metadata %}
        {% endblock %}

        {% block form_action_buttons %}
            <div class="buttons">
                <button type="">{% block save_label %}Save{% endblock %}</button>
                <button type="reset">{% block reset_label %}Undo Changes{% endblock %}</button>
                <a href="{{ cancel_link }}" class="button-link">{% block cancel_label %}Cancel{% endblock %}</a>
            </div>
        {% endblock form_action_buttons %}
    </form>

{% endblock content %}