{% extends "base/base.html" %}

{% block content %}
    <div class="action-buttons">
        {% block action_buttons %}
            <a href="{% url model_name|add:'_update' object.pk %}" class="button-link">Edit</a>
            <a href="{% url model_name|add:'_delete' object.pk %}" class="button-link">Delete</a>
        {% endblock %}
    </div>

    <div class="contextual-actions">
        {% block contextual_actions %}{% endblock %}
    </div>

    {% block detail_content %}{% endblock %}
{% endblock %}