{% extends "base/base.html" %}

{% block content %}
    {% block form_title %}{% endblock %}

    <form action="" method="post">
        {% csrf_token %}
        {% block form_content %}
            {{ form.as_p }}
        {% endblock %}

        <div class="buttons">
            <button type="">{% block save_label %}Save{% endblock %}</button>
            <button type="reset">{% block reset_lable %}Undo changes{% endblock %}</button>
            <a href="{{ cancel_link }}" class="button-link">{% block cancel_label %}Cancel{% endblock %}</a>
        </div>
    </form>

{% endblock content %}