{% extends "base/base_form.html" %}
{% block title %}{% endblock title %}
{% block form_title %}Customize Your Profile{% endblock %}

<p>Update Your Personal Information and Preferences</p>

{% block form_content %}
    <fieldset>
        <legend>Personal Information</legend>
        {{ user_form.as_p }}
    </fieldset>
    <fieldset>
        <legend>Preferences</legend>
        {{ profile_form.as_p }}
    </fieldset>
{% endblock form_content %}

{% block save_label %}Save Changes{% endblock %}
{% block reset_label %}Reset Form{% endblock %}
{% block cancel_label %}Cancel and Go Back{% endblock %}