{% extends "base/base_detail.html" %}

{% block title %}{{ homework }}{% endblock %}

{% block detail_content %}

    <h2>Homework</h2>
    <p>Subject: {{ source.subject }}</p>

    {% if homework.lesson_given %}
        <p>Lesson given: {{ homework.lesson_given }}</p>
    {% endif %}

    {% if homework.lesson_due %}
        <p>Lesson due: {{ homework.lesson_due }}</p>
    {% endif %}

    <p>Start time: {{ start_time }}</p>
    <p>Due at: {{ due_at }}</p>

    <p>Task: {{ homework.task }}</p>
    <p>Completion percent: {{ homework.completion_percent }}</p>

    <p>Created at: {{ homework.created_at }}</p>
    <p>Last modified: {{ homework.last_modified }}</p>
    
{% endblock detail_content %}
