{% extends "base/base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}Calendar{% endblock title %}
{% block content_wrapper %}calendar{% endblock %}

{% block content %}
    <div class="calendar-header">
        <p>Calendar</p>
        <p>{{ month }} {{ year }}</p>
    </div>

    <div class="calendar-body">
        <div class="calendar-content">
            <div class="workweek">Mo</div>
            <div class="workweek">Tu</div>
            <div class="workweek">We</div>
            <div class="workweek">Th</div>
            <div class="workweek">Fr</div>
            <div class="weekend">Sa</div>
            <div class="weekend">Su</div>
            
            {% for week in calendar %}
                {% for day in week %}
                    {% if day != 0 %}
                        <div class="calendar-day">{{ day }}
                            {% for type, pk, description in calendar_events|get_item:day %}
                                <div class="calendar-{{ type }}">
                                    {% with url_name=type|add:"_detail" %}
                                        <a href="{% url url_name pk %}">{{ description }}</a>
                                    {% endwith %}
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="invisible-day">{{ day }}</div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}
