{% extends "base/base_detail.html" %}

{% block title %}{{ lesson }}{% endblock %}

{% block update %}{% url "lesson_update" lesson.pk %}{% endblock %}
{% block delete %}{% url "lesson_delete" lesson.pk %}{% endblock %}

{% block contextual_actions %}
    {% if can_add_assessment %}
        <a href="{% url "assessment_create" %}">Add Assessment</a> 
    {% endif %}
    {% if can_add_lesson_given %}
        <a href="{% url "homework_create" %}">Add Homework Given</a>
    {% endif %}
    {% if can_add_lesson_due %}
        <a href="{% url "homework_create" %}">Add Homework Due</a>
    {% endif %}
{% endblock %}
    
{% block detail_content %}
    <h2>{{ lesson.subject }}</h2>
    <p>Type: {{ lesson.get_type_display|lower }}</p>
    <p>Start time: {{ lesson.start_time }}</p>
    <p>Duration: {{ lesson.duration }}</p>
    <p>Created at: {{ lesson.created_at }}</p>
    <p>Last modified: {{ lesson.last_modified }}</p>
{% endblock detail_content %}
