{% load custom_tags %}

<form action="" method="get" class="filter-sidebar">

    {% for field, settings in valid_filters.items %}
        <div class="filter-field">
            <label for="{{ field }}">{{ settings.label }}</label>

            {% if settings.type == "text" %}
                <input type="{{ text }}" name="{{ field }}" id="{{ field }}" value="{{ selected_values|get_item:field }}">

            {% elif settings.type == "select" %}
                <select name="{{ field }}" id="{{ field }}">
                    <option value="">-- All --</option>
                    {% for option in settings.options %}
                        {% with option_value=option.0 option_label=option.1 %}
                            <option value="{{ option_value }}"
                            {% if selected_values|get_item:field == option_value|stringformat:"s" %}selected{% endif %}>
                                {{ option_label }}
                            </option>
                        {% endwith %}
                    {% endfor %}
                </select>
            {% endif %}
        </div>
    {% endfor %}

    <button type="submit">Apply Filters</button>
</form>